node_modules
echo "# qmcargo" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/mofarag1997/qmcargo.git
git push -u origin main